@font-face {
    font-family: 'punk';
    src: URL(/font/aligator_2/Aligator.otf);
};

@font-face {
    font-family: 'punk2';
    src: URL(/font/death_mohawk/DeathMohawk_PERSONAL_USE_ONLY.otf);
};

@font-face {
    font-family: 'worm';
    src: URL(/font/stitch_warrior/StitchWarrior\ demo.ttf);
}

